name: pylint

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
    - LICENSE
    - '**.md'
    - '.github/rulesets/**'
    - .github/workflows/run-crucible-tracking.yaml
    - .github/workflows/crucible-merged.yaml
    - .github/workflows/faux-crucible-ci.yaml
    - .github/workflows/faux-roadblock-ci.yaml
    - .github/workflows/faux-pylint.yaml
    - 'docs/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}/pylint
  cancel-in-progress: true

jobs:
  pylint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install redis
        pip install jsonschema
    - name: Analysing the code with pylint
      run: |
        python_files=$(find . -name "*.py")
        echo "Python files: ${python_files}"
        ./utilities/run-pylint.sh ${python_files}
